@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-spacing{
  letter-spacing: 0.3em;
}

 .box{
   @apply bg-red-500 bg-opacity-20  px-3 py-3 mb-2 w-[10px] hidden }


.box {
  opacity: 0.1;
  padding:12px ;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: whit;
  animation-name: box;
  animation-duration: 2s;
   animation-iteration-count: infinite
}

@keyframes box {
  0%   {background-color:red ;}
  25%   {background-color:orange ;}
  50%   {background-color:plum ;}
  75%   {background-color:rgb(130, 0, 130) ;}
  100% {background-color: white;}
}
.box1 {
  opacity: 0.1;
  padding:12px ;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: white;
  animation-name: box1;
  animation-duration: 1s;
   animation-iteration-count: infinite
}

@keyframes box1 {
  0%   {background-color: red;}

  50%   {background-color: yellow;}
 
  100% {background-color: white;}
}
.box2 {
  opacity: 0.2;
  padding:12px ;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: whit;
  animation-name: box2;
  animation-duration: 3s;
   animation-iteration-count: infinite
}

@keyframes box2 {
  0%   {background-color: aqua;}
  50%   {background-color: blue;}

  75%   {background-color: green;}
 
  100% {background-color: blueviolet;}
}